

* {
    margin: 0px;
    padding: 0px;
 }


.header{
    background-color: #7ABD7E;
    overflow: hidden;
    margin-bottom: 50px;
}


.header img{
   width: 75px;
   height: 75px;
}



  .header .div-filtros {
    float: right;
    margin-right: 200px;
  }

  .header .div-usuario {
    float: right;
  }

  .header .div-usuario button {
    float: right;
    padding: 6px;
    margin-top: 30px;
    margin-right: 16px;
    background: transparent;
    border: none;
  }

  .header .div-usuario img {
    width: 40px;
    height: 40px;
    }

  .header input[type="text"],select {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
  }

  .faixa-preco{
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
  }
  

  .header .div-filtros button {
    float: right;
    padding: 6px;
    margin-top: 30px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: none;
  }

  .header .div-filtros img {
    width: 30px;
    height: 30px;
    }
  

    .conteudo{
        margin: auto;
        width: 80%;
        height: 1000px ;
        overflow: auto;
    }

    .conteudo .produto {
        float: left;
        width: 200px;
        height: 200px;
        margin: 50px;
    }

    .conteudo .produto button{
        width: 75px;
        height: 40px;
        background-color: #7ABD7E;
        border: none;
    }

    .conteudo .produto .info{
       text-align: center;
    }
    



footer {
    width: 100%;
    height: 50px;
    background-color: #7ABD7E;
     margin-top: 100px;
    bottom: 0;
    text-align: center;
    color: white;
    clear: left;
}


