.header{
    background-color: #7ABD7E;
    overflow: hidden;
    margin-bottom: 50px;
}


.header img{
   width: 75px;
   height: 75px;
}



  .header .div-filtros {
    float: right;
    margin-right: 200px;
  }

  .header .div-usuario {
    float: right;
  }

  .header .div-usuario a {
    float: right;
    padding: 6px;
    margin-top: 30px;
    margin-right: 16px;
    background: transparent;
    border: none;
  }

  .header .div-usuario img {
    width: 40px;
    height: 40px;
    }

  .header input[type="text"],select {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
    text-align: center;
  }

  .faixa-preco{
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
  }
  

  .header .div-filtros button {
    float: right;
    padding: 6px;
    margin-top: 30px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: none;
  }

  .header .div-filtros img {
    width: 30px;
    height: 30px;
    }