
.conteudo{
    background-color: #7ABD7E;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    height: 90%;
    padding: 50px;
}

.conteudo form{
    margin: auto;
    width: 600px;
    height: 100%;
}

.conteudo form h1,h2,p{
    text-align: center;
}

.conteudo form img{
    margin-left: 25%;
    margin-bottom: 15px;
    width: 50%;
    height: 250px;
}

.conteudo form .campos{
    margin-bottom: 15px;
}

.conteudo form label{
    display: inline-block;
    width: 20%;
    margin-right: 5px;
}

.conteudo form input{
    width: 75%;
    height: 35px;
}


.conteudo form button{
    margin-left: 5%;
    width: 25%;
    height: 50px;
}



.resposta{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    height: 600px;
    padding: 50px;
}


.resposta img{
    margin-bottom: 15px;
    width: 75%;
    height: 75%;
}


.resposta h3{
    text-align: center;
}

.resposta button{
    margin: 5%;
    width: 30%;
    height: 50px;
}