.conteudo{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 100%;
}

.conteudo h1,h3{
    text-align: center;
}

.conteudo .lista-pedidos table {
    border-collapse: collapse;
    width: 100%;
    height: 100px;
}
.conteudo .lista-pedidos table th, td {
	border: 1px solid #7ABD7E;
    text-align: center;
}



.conteudo .lista-pedidos table td a img{
	width: 50px;
    height: 50px;
}


.conteudo ul li img{
    width: 50px;
    height: 50px;
}

.conteudo .andamento{
    width: 725px;
    height: 120px;
    background-color: white;
    border: 1px solid  #7ABD7E;
}

.conteudo .andamento *{
    float: left;
}

.conteudo .andamento img{
    width: 50px;
    height: 30px;
    margin-top: 50px;
}

.conteudo .andamento img{
    width: 50px;
    height: 30px;
    margin-top: 50px;
}
.conteudo .andamento .status{
    width: 90px;
    height: 72px;
    background-color: white;
    text-align: center;
    border: 1px solid  #7ABD7E;
    margin: 5px;
    margin-top: 20px;
}

.conteudo .andamento .status_ativo{
    width: 100px;
    height: 80px;
    background-color: #7ABD7E;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    margin-top: 15px;
}